.main {
  padding: 0px 30px;
  box-sizing: border-box;
}

.aboutcontainer {
  margin: auto;
  overflow: hidden;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.aboutus {
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-bottom: 30px;
  color: var(--navy);
  margin-top: 0;
}

.lorem {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .img {
    width: 100%;
    margin: auto;
    height: 100%;
  }
}
