.form {
  max-width: 500px;
  width: 95%;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inputgroup {
  margin: 30px 0;
}

.inputgroup > * {
  display: block;
}

.inputgroup label {
  font-size: 20px;
  font-weight: bold;
  color: var(--navy);
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.inputgroup input,
.inputgroup select,
.inputgroup textarea {
  margin: 7px 0;
  width: 100%;
  padding: 15px 0;
  text-indent: 20px;
  border: 2px solid black;
  border-radius: 2px;
  font-size: 20px;
}

.inputgroup input[type="text"]:focus,
.inputgroup input[type="text"]:active,
.inputgroup input[type="number"]:focus,
.inputgroup input[type="number"]:active,
.inputgroup select:focus,
.inputgroup select:active {
  border-color: #d14d72;
}

.inputgroup:last-child {
  display: flex;
  justify-content: center;
}

.button[type="submit"] {
  padding: 15px 20px;
  background: var(--purple);
  color: #fff;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}

.button[type="submit"]:focus,
.button[type="submit"]:active {
  outline: none;
}

.inputgroup textarea {
  width: 499px;
  height: 161px;
  resize: none;
}

.heading {
  text-align: center;
}

.img {
  float: left;
  margin-left: 100px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1440px) {
  .img1 {
    display: none;
  }
}
@media (max-width: 700px) {
  .img {
    display: none;
  }
  .inputgroup,
  .inputgroup .label,
  .input[type="submit"],
  .inputgroup textarea {
    width: 100%;
    margin-top: 0;
  }
  .img1 {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
