:root {
  --navy: #000080;
  --black: #000000;
  --purple: #2e5a88;
  --white: #fff;
  --bg: #fffff7;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat";
  text-decoration: none;
  background-color: var(--bg);
}

ul {
  list-style: none;
  text-decoration: none !important;
}

.link {
  text-decoration: none !important;
  display: inline-block;
}

.bumpyroads {
  background-color: darkorange;
  text-align: center;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 300px;
  text-transform: capitalize;
}

.smoothroads {
  background-color: purple;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 300px;
  text-transform: capitalize;
}

li {
  text-decoration: none !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2% 3%;
  align-items: center;
}

.mobile-nav {
  display: none;
}

.mobile-nav .hamburger {
  font-size: 25px;
  cursor: pointer;
  z-index: 2;
}

.title {
  font-weight: 700;
  font-size: 25px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.link {
  margin: 1em;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 18px;
  transition: border-bottom 500ms ease-in-out;
}

.link:focus {
  border-bottom: var(--secondary-color) 2px solid;
}

.link:hover {
  border-bottom: var(--secondary-color) 2px solid;
}

.icon {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
}
@media (max-width: 650px) {
  .mobile-nav {
    display: flex;
  }

  .mobile-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    right: 0;
    width: 100%;
    padding: 5% 0;
    background-color: var(--navy);
    color: white;
    box-shadow: 0 0 0 100vmax var(--mobilenav-background);
  }

  .link-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-items * {
    margin: 5px;
  }

  .link {
    padding: 10%;
  }

  .responsive {
    display: none;
  }
}
