.hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
  margin-top: 20px;
  background-color: transparent;
  border: none;
}

@media (max-width: 1440px) {
  .hamburger {
    display: none;
  }
  .topnav a {
    display: none;
  }
}

@media (max-width: 700px) {
  .hamburger {
    display: block;
    position: absolute;
  }

  .topnav {
    margin-top: 60px;
    display: flex;
    background-color: #333;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 105px;
    margin-right: auto;
    padding: 20px;
  }
}
