.heading {
  font-size: 90px;
  text-align: justify;
  background: -webkit-linear-gradient(45deg, #ffa500 20%, #ff5733 20%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 40px;
  margin-top: 80px;
  display: flex;
  margin-bottom: 0;
}

.heading1 {
  font-size: 35px;
  text-align: justify;
  background: -webkit-linear-gradient(
    45deg,
    var(--navy) 50%,
    var(--purple) 20%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 40px;
  display: flex;
  margin: 0;
  font-weight: bold;
}

.img {
  float: right;
  margin: 40px;
  margin-top: 0 !important;
  border-radius: 50px;
}

.banner {
  width: 95%;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.p {
  font-size: 20px;
  margin-left: 40px;
}

@media (max-width: 700px) {
  .img {
    width: 100%;
    margin: auto;
  }
}
